<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dang.springboot.mapper.TrackRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.dang.springboot.pojo.TrackRecordInfo">
    <id column="track_record_id" jdbcType="INTEGER" property="trackRecordId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="track_record_title" jdbcType="VARCHAR" property="trackRecordTitle" />
    <result column="track_record_content" jdbcType="VARCHAR" property="trackRecordContent" />
    <result column="track_record_time" jdbcType="TIMESTAMP" property="trackRecordTime" />
    <result column="enrollment" jdbcType="INTEGER" property="enrollment" />
    <result column="next_record_time" jdbcType="TIMESTAMP" property="nextRecordTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    track_record_id, student_id, track_record_title, track_record_content, track_record_time, 
    enrollment, next_record_time
  </sql>
  <select id="selectByExample" parameterType="com.dang.springboot.pojo.TrackRecordInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from track_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from track_record_info
    where track_record_id = #{trackRecordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from track_record_info
    where track_record_id = #{trackRecordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dang.springboot.pojo.TrackRecordInfoExample">
    delete from track_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dang.springboot.pojo.TrackRecordInfo">
    insert into track_record_info (track_record_id, student_id, track_record_title, 
      track_record_content, track_record_time, 
      enrollment, next_record_time)
    values (#{trackRecordId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{trackRecordTitle,jdbcType=VARCHAR}, 
      #{trackRecordContent,jdbcType=VARCHAR}, #{trackRecordTime,jdbcType=TIMESTAMP}, 
      #{enrollment,jdbcType=INTEGER}, #{nextRecordTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dang.springboot.pojo.TrackRecordInfo">
    insert into track_record_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trackRecordId != null">
        track_record_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="trackRecordTitle != null">
        track_record_title,
      </if>
      <if test="trackRecordContent != null">
        track_record_content,
      </if>
      <if test="trackRecordTime != null">
        track_record_time,
      </if>
      <if test="enrollment != null">
        enrollment,
      </if>
      <if test="nextRecordTime != null">
        next_record_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trackRecordId != null">
        #{trackRecordId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="trackRecordTitle != null">
        #{trackRecordTitle,jdbcType=VARCHAR},
      </if>
      <if test="trackRecordContent != null">
        #{trackRecordContent,jdbcType=VARCHAR},
      </if>
      <if test="trackRecordTime != null">
        #{trackRecordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollment != null">
        #{enrollment,jdbcType=INTEGER},
      </if>
      <if test="nextRecordTime != null">
        #{nextRecordTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dang.springboot.pojo.TrackRecordInfoExample" resultType="java.lang.Long">
    select count(*) from track_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update track_record_info
    <set>
      <if test="record.trackRecordId != null">
        track_record_id = #{record.trackRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.trackRecordTitle != null">
        track_record_title = #{record.trackRecordTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.trackRecordContent != null">
        track_record_content = #{record.trackRecordContent,jdbcType=VARCHAR},
      </if>
      <if test="record.trackRecordTime != null">
        track_record_time = #{record.trackRecordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enrollment != null">
        enrollment = #{record.enrollment,jdbcType=INTEGER},
      </if>
      <if test="record.nextRecordTime != null">
        next_record_time = #{record.nextRecordTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update track_record_info
    set track_record_id = #{record.trackRecordId,jdbcType=INTEGER},
      student_id = #{record.studentId,jdbcType=INTEGER},
      track_record_title = #{record.trackRecordTitle,jdbcType=VARCHAR},
      track_record_content = #{record.trackRecordContent,jdbcType=VARCHAR},
      track_record_time = #{record.trackRecordTime,jdbcType=TIMESTAMP},
      enrollment = #{record.enrollment,jdbcType=INTEGER},
      next_record_time = #{record.nextRecordTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dang.springboot.pojo.TrackRecordInfo">
    update track_record_info
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="trackRecordTitle != null">
        track_record_title = #{trackRecordTitle,jdbcType=VARCHAR},
      </if>
      <if test="trackRecordContent != null">
        track_record_content = #{trackRecordContent,jdbcType=VARCHAR},
      </if>
      <if test="trackRecordTime != null">
        track_record_time = #{trackRecordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollment != null">
        enrollment = #{enrollment,jdbcType=INTEGER},
      </if>
      <if test="nextRecordTime != null">
        next_record_time = #{nextRecordTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where track_record_id = #{trackRecordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dang.springboot.pojo.TrackRecordInfo">
    update track_record_info
    set student_id = #{studentId,jdbcType=INTEGER},
      track_record_title = #{trackRecordTitle,jdbcType=VARCHAR},
      track_record_content = #{trackRecordContent,jdbcType=VARCHAR},
      track_record_time = #{trackRecordTime,jdbcType=TIMESTAMP},
      enrollment = #{enrollment,jdbcType=INTEGER},
      next_record_time = #{nextRecordTime,jdbcType=TIMESTAMP}
    where track_record_id = #{trackRecordId,jdbcType=INTEGER}
  </update>
</mapper>